<!-- extends表明此页面继承自 base.html 文件 -->
{% extends "base.html" %}
{% load static %}

<!-- 写入 base.html 中定义的 title -->
{% block title %}
    数据列表
{% endblock %}
<!-- 写入 base.html 中定义的 content -->
{% block content %}
	<div class="container">
		<nav class="navbar navbar-light bg-light">
            <a class="navbar-brand">七年级英语试题</a>
            <form class="form-inline">
	            <label class="sr-only">content</label>
                <input class="form-control mr-sm-2" type="text" name="search" placeholder="检索试题..." required>
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
		</nav>
	<br/>
	{% for qes in qes_info %}
		<div class="card">
			<div class="card-header">
				{{qes.title}}
			</div>
			<div class="card-body">
			<table class="table table-bordered">
				<tbody>
					<tr>
						<td colspan="3">问题: {{qes.question}}</td>
						<td>正确答案: {{qes.answer}}</td>
					</tr>
					<tr>
						<td scope="row">A: {{qes.option_a}}</td>
						<td>B: {{qes.option_b}}</td>
						<td>C: {{qes.option_c}}</td>
						<td>D: {{qes.option_d}}</td>
					</tr>
					<tr>
						<td>试题编号: {{qes.question_id}}</td>
						<td>录入备注: {{qes.question_info}}</td>
						<td colspan="2">试题主键：{{ qes.id }}</td>
					</tr>
				</tbody>
			</table>
				<p align="right"><a class="btn btn-danger btn-block" href="{% url 'info_manager:info_update_7' qes.id%}" role="button">修改试题</a></p>
			</div>
		</div>
		<br/>
	{% endfor%}

		<!--页码-->
		<div class="pagination row">
		    <div class="m-auto">
		        <span class="step-links">
		            <!-- 如果不是第一页，则显示上翻按钮 -->
		            {% if qes_info.has_previous %}
		                <a href="?page=1" class="btn btn-success">
		                    &laquo; 1
		                </a>
		                <span>...</span>
		                <a href="?page={{ qes_info.previous_page_number }}"
		                   class="btn btn-secondary"
		                >
		                    {{ qes_info.previous_page_number }}
		                </a>
		            {% endif %}

		            <!-- 当前页面 -->
		            <span class="current btn btn-danger btn-lg">
		                {{ qes_info.number }}
		            </span>

		            <!-- 如果不是最末页，则显示下翻按钮 -->
		            {% if qes_info.has_next %}
		                <a href="?page={{ qes_info.next_page_number }}"
		                   class="btn btn-secondary"
		                >
		                    {{ qes_info.next_page_number }}
		                </a>
		                <span>...</span>
		                <a href="?page={{ qes_info.paginator.num_pages }}"
		                   class="btn btn-success"
		                >
		                    {{ qes_info.paginator.num_pages }} &raquo;
		                </a>
		            {% endif %}
		        </span>
		    </div>
		</div>
	</div>

{% endblock content %}